<div>{{user | json | uppercase}}</div>
<hr>
<hr>

<!-- after the colon (:), you pass arguments to the pipe, which can be seen as passing arguments to the function that the pipe represents -->
<div>{{ user.list | reduce : sum : 0 }}</div>

<button (click)="addProperty()">Add Property</button>

<br>
<hr>
<div>Promise: {{ promise | async }}</div>
<br>
<hr>
<div>Clock: {{time$ | async | date : 'HH:mm:ss'}}</div>

<br>
<hr>

<div>Text {{ 'asfdghjkl' | truncate : 5 }}</div>

<br>
<hr>

<div>The total sum is: {{ nums | sumPipe : sum : 1000 }} </div>


<br>
<hr>

<div>
  <a routerLink="/">Home</a>
</div>
<div>
  <a routerLink="/lazy">lazy</a>
</div>

<br>
<hr>
<router-outlet />
