<h1 class="title">Login</h1>


<!-- Template driven approach -->
<form #loginForm="ngForm" (ngSubmit)="formSubmitHandler()" class="form-unit">
    <div class="form-group">
        <label for="email-login"></label>
        <input ngModel type="email" id="email-login" name="email" placeholder="Email" required  email #emailInput="ngModel">
    </div>
    
    <div class="form-group">
        <label for="password-login"></label>
        <input ngModel type="password" name="password" placeholder="Password" required [appMaxCount]="5" #passwordInput="ngModel">
    </div>
    
    <button>Login</button>
    
</form>

<div *ngIf="emailInput.touched">
    <div *ngIf="emailInput.errors?.['required']" class="validation">Email is Requered</div>
    <div *ngIf="emailInput.errors?.['email']" class="validation">The email is not valid!</div>
</div>

<div *ngIf="passwordInput.errors?.['appMaxCount']">
    <p class="validation">The password is longer than {{passwordInput.errors?.['appMaxCount']}} characters </p>
    
</div>

<br><br>

{{loginForm.value | json}}

